<TMPL_INCLUDE NAME="header.tmpl">
    
<div id='about' class='box'>
<h2>Channel Index for #<TMPL_VAR NAME=CHANNEL></h2>

<TMPL_INCLUDE NAME=linkblock.tmpl>
</div>

<TMPL_VAR NAME=CALENDAR>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">

</body>
</html>
