<TMPL_INCLUDE NAME="header.tmpl">

<div id='about' class='box'>
 <h2>IRC log for #<TMPL_VAR NAME=CHANNEL>, <TMPL_VAR NAME=DATE></h2>
 
 <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">
 <TMPL_INCLUDE NAME='linkblock.tmpl'>
 
 <p>All times shown are in <abbr title="Coordinated Universal Time">UTC</abbr>.</p>
 
 <TMPL_IF NAME=ADMIN>
  <form method="post" action="<TMPL_VAR NAME=BASE_URL>spam.pl?date=<TMPL_VAR NAME=DATE>;channel=<TMPL_VAR NAME=CHANNEL>">
  <p><input type="submit" value="Mark as spam" /></p>
  <p><a href="javascript:reset_checkboxes()">Reset all Checkboxes</a></p>
  <div style="clear:both"></div>
 </TMPL_IF>
 
 <p style="display: none;" id="filter_toggle"></p>
</div>
	
<table id="log" style="clear:both">
 <tr class="head">
  <TMPL_IF NAME=ADMIN>
   <th>Range</th>
   <th>Single</th>
  </TMPL_IF>
  <th>Time</th>
  <th>Nick</th>
  <th>Message</th>
 </tr>
 <TMPL_LOOP NAME=MESSAGES>
  <TMPL_INCLUDE NAME='line.tmpl'>
 </TMPL_LOOP>
</table>

<TMPL_IF NAME=ADMIN>
 <p><input type="submit" value="Mark as spam" /></p>
 <div style="clear:both"></div>
 </form>
</TMPL_IF>

<TMPL_INCLUDE NAME='linkblock.tmpl'>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
		
<script type="text/javascript" src="<TMPL_VAR NAME=BASE_URL>nickfilter.js"></script>		

</body>

</html>
