<div class="foot">
    <p>
    Powered by <a href="http://moritz.faui2k3.org/en/ilbot">ilbot</a>/<a href="http://git.archserver.org/?p=ilbot.git">Modified</a>.<br />
    <a href="mailto:webmaster@archserver.org">Webmaster</a>
    </p>
</div>
