<TMPL_INCLUDE NAME="header.tmpl">
    
<h2>Search</h2>

<TMPL_INCLUDE NAME=linkblock.tmpl>

<div id='about' class='box'>
<form action="<TMPL_VAR NAME=BASE_URL>search.pl" method="get" accept-charset="utf-8">
 <table>
  <tr>
   <td><label for="channel">Channel</label></td>
   <td>
    <select id="channel" name="channel" size="<TMPL_VAR NAME=CH_COUNT>">
     <TMPL_LOOP NAME=CHANNELS>
     <option <TMPL_IF NAME=SELECTED>selected="selected"</TMPL_IF>><TMPL_VAR NAME=CHANNEL></option>
     </TMPL_LOOP>
    </select>
   </td>
  </tr>
  <tr>
   <td><label for="nick">Nick</label></td>
   <td><input type="text" size="10" maxlength="30" name="nick" value="<TMPL_VAR NAME=NICK>" id="nick"></input></td>
  </tr>
  <tr>
   <td><label for="q">Text</label></td>
   <td><input type="text" size="10" maxlength="30" name="q" value="<TMPL_VAR NAME=Q>" id="text"></input></td>
  </tr>
  <tr>
   <td colspan='2'><input type="submit"></input></td>
  </tr>
 </table>
</form>
</div>

<TMPL_IF NAME=DAYS>
 <h1>Results</h1>
 <p>Results from days <TMPL_VAR NAME=DAYS_LOWER> to <TMPL_VAR NAME=DAYS_UPPER>, from overall <TMPL_VAR NAME=DAYS_COUNT> days</p>
 
 <p>
  Result pages:
  <TMPL_LOOP NAME=RESULT_PAGES>
  <a href="<TMPL_VAR NAME=BASE_URL>search.pl?nick=<TMPL_VAR NAME=NICK ESCAPE=URL>;channel=<TMPL_VAR NAME=CURRENT_CHANNEL ESCAPE=URL>;q=<TMPL_VAR NAME=Q>;offset=<TMPL_VAR NAME=OFFSET>"><TMPL_VAR NAME=PAGE></a>
  </TMPL_LOOP>
 </p>
 
 <TMPL_LOOP NAME=DAYS>
  <h2><a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=DAY></a></h2>
  <table>
   <TMPL_LOOP NAME=LINES>
    <TMPL_INCLUDE NAME='line.tmpl'>
   </TMPL_LOOP>
  </table>
 </TMPL_LOOP>
</TMPL_IF>

<p>
Result pages:
<TMPL_LOOP NAME=RESULT_PAGES>
 <a href="<TMPL_VAR NAME=BASE_URL>search.pl?nick=<TMPL_VAR NAME=NICK ESCAPE=URL>;channel=<TMPL_VAR NAME=CURRENT_CHANNEL ESCAPE=URL>;q=<TMPL_VAR NAME=Q>;offset=<TMPL_VAR NAME=OFFSET>"><TMPL_VAR NAME=PAGE></a>
</TMPL_LOOP>
</p>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">

</body>
</html>
