<TMPL_INCLUDE NAME="header.tmpl">
    
<h1><TMPL_VAR NAME=COUNT> Lines Marked as Spam</h1>

	<p><strong><a href="<TMPL_VAR NAME=BASE_URL>out.pl?channel=<TMPL_VAR NAME=CHANNEL>;date=<TMPL_VAR NAME=DATE>;admin=1">Back to the logs</a></strong></p>


    <TMPL_INCLUDE NAME='linkblock.tmpl'>
    <TMPL_INCLUDE NAME="footer.tmpl">
<body>
